version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: planner_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  web:
    build: .
    container_name: django_app
    volumes:
      - ./app:/app
    environment:
      - DB_HOST=db
      - DB_NAME=planner_db
      - DB_USER=user
      - DB_PASS=password
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./app/static:/app/static
    ports:
      - "80:80"
    depends_on:
      - web