__pycache__/
*.pyc
*.pyo
*.pyd
.Python

env/
venv/
.venv/

.git/
.gitignore
.idea/
.vscode/
*.log

Dockerfile
docker-compose.yml
.dockerignore

staticfiles/
media/
tests/
.pytest_cache/
.mypy_cache/
coverage/
htmlcov/

db.sqlite3
*.sqlite